 <list class="a-list">
  <view slot="header">用户列表</view>
  <block a:for="{{items}}">
    <list-item
      key="item-{{index}}"
	  index="{{index}}"
      last="{{index === (items.length - 1)}}"
    >
      {{item.name}} 【工号：{{item.jobnumber}}】
      <view class="am-list-brief">{{item.mobile}}</view>
    </list-item>
  </block>
  <view slot="footer"></view>
</list>